/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3A4F7A;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider , input:checked, .dark-mode .dot{
  background-color: #ff80bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff80bf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode{
  background-color: #4e4e4e;
  color: #ff80bf;
  background-image: url("wpo4-modified.png")
}

  .dark-mode #quote{
    background-color: #ffb3e6;
    color: #413F42;
  }

  .dark-mode footer{
    background: linear-gradient(#4e4e4e, #ffb3e6);
    color: white;
  }
  
  .dark-mode #searchbar input:focus, .dark-mode #overview, .dark-mode #petition, .dark-mode #petition .inline-flex input:focus, .dark-mode #resources, .dark-mode #prayerRequests .inline-flex textarea, .dark-mode #prayerRequests .inline-flex input:focus, .dark-mode .modal-content{
    background-color: #413F42;
    color: #ff80bf;
}

  .dark-mode .articleStyle1, .dark-mode .articleStyle2, .dark-mode #searchbar input, .dark-mode #petition .inline-flex input, .dark-mode #prayerRequests .inline-flex textarea, .dark-mode #prayerRequests .inline-flex input{
    background-color: #413F42;
    color: #ff80bf;
    border: 1px solid  #ffffe6;
}
  .dark-mode #b1:hover, .dark-mode #searchbar button:hover, .dark-mode #petition #submit:hover, .dark-mode .dot{
    background-color: #ffb3e6;
    color: BLACK;
  }

  .dark-mode #prayerRequests #submitprayer:hover{
    color: white;
    background-color: #413F42;
  }

  .dark-mode hr{
    border: 2px solid #ffffe6;
  }
  .dark-mode a:hover{
    color: #ffffe6;
  }

  .dark-mode .mainVideo{
    border: 4px solid #ffb3e6;
  }

  .dark-mode::-webkit-scrollbar-thumb, .dark-mode .sharebutton{
    background: linear-gradient(#ffb3e6,#413F42);
  }

  .dark-mode .sharebutton span{
    color: white;
  }

  .dark-mode::-webkit-scrollbar-track{
    background: #4e4e4e;
  }

  .dark-mode .sharebutton ul li, .dark-mode .sharebutton ul{
    background-color: rgb(52, 52, 52);
    color: white;
  }
  
  .dark-mode .next, .dark-mode .prev {
    color: #ff80bf;
  }